<section class="contact-section">
  <h2>Contact Me</h2>

  <div class="contact-info">
    <p><strong>Email:</strong> <a href="mailto:jeihezmurithi&#64;gmail.com">jeihezmurithi&#64;gmail.com</a></p>
    <p><strong>Phone:</strong> 0740302808 / 0701354886</p>
    <p><strong>LinkedIn:</strong> <a href="https://linkedin.com/in/hezron-murithi-71110a246" target="_blank">Profile</a></p>
    <p><strong>GitHub:</strong> <a href="https://github.com/MUTIJ" target="_blank">MUTIJ</a></p>
  </div>

 <form class="message-form">
  <textarea placeholder="Type your message here..."></textarea>
  <button type="submit">Send Message</button>
</form>
</section>
