<section class="experience-section">
  <h2>Experience</h2>

  <div class="experience-entry">
    <h3>Tangazoletu Limited <span>(Jan 2024 – Present)</span></h3>
    <ul>
    <li>Performed root cause analysis (RCAs) in order to identify breakdowns in 
    processes and systems that contributed to downtimes and how to prevent future 
    events. </li>
    <li>Identifying technical problems and developing software updates and fixes. </li>
    <li>Created custom USSD journeys for different Saccos based on their requirements. </li>
    <li>Working as part of the team involved in in high complexity source code 
    development. </li>
    <li>Part of the team that rolled out new features for our customers. </li>
    <li>Optimized Mobile Apps to utilize easily customizable JSON powered 
    forms(Formly Forms) for  
    easy maintainability for the many clients with a variety of requirements.    </li>
    <li> Collaborated with the team in developing new system end to end. </li>
    </ul>
  </div>

  <div class="experience-entry">
    <h3>Dalima Tech <span>(Aug 2022 – Jan 2023)</span></h3>
    <ul>
    <li>Wrote code, tested, debugged...</li>
    <li>Writing lines of code, testing and debugging software, learning computer languages in 
    a realistic setting, and functioning as part of a team.   </li>
    <li>Delivered complex communications, driving implementations and other high visibility 
    growth projects.   </li>
    <li>Applied strong writing, editing and proofreading abilities to each assignment to 
    produce best possible content.   </li>
    <li>Coordinated testing activities along with project managers and developers.  </li> 
    <li>Prepared news stories based on information provided by assignment desk and press 
    releases.   </li>
    <li>Attended team meetings to discuss projects, brainstorm ideas and put forward 
    solutions to issues.   </li>
    </ul>
  </div>

  <div class="experience-entry">
    <h3>Mpsha Hospital <span>(Jan 2024 – Feb 2024)</span></h3>
    <ul>
    <li> Networking  </li>
    <li>Server maintenance. </li>
    <li>Cable managements. </li>
    <li>General ICT support based on the employees request. </li>
    </ul>
  </div>
</section>
