<section class="about">
  <h2>About Me</h2>
  <p>
    I am an Intelligent and hardworking Software Developer with a background of 2 year experience 
    in software development and ICT support. Highly educated and committed to creating dynamic 
    apps for the android environment. Extensive knowledge in Software Development Life Cycle 
    (SDLC), Agile methodologies and Quality product development. I have ability to work under 
    conducive environment with minimum supervision, Willingness to learn more and being 
    determined to achieve as we help others. A strict observer of time.
  </p>

  <div class="corner-image">
    <img src="assets/profile.png" alt="Hezron" />
  </div>
</section>