<section class="hero">
  <div class="hero-content">
    <p class="intro">HELLO I’M</p>
    <h1 class="name">Hezron <span>Murithi</span></h1>
    <p class="role">A Passionate <span class="highlight">Software Developer</span></p>

    <div class="buttons">
      <a href="#contact" class="btn-primary">Say Hello</a>
      <a href="assets/Hezron-Murithi_Joseph CV.pdf" download class="btn-secondary">Download CV</a>
    </div>
  </div>

  <!-- <div class="hero-image">
    <div class="slider-container">
    <div class="slider">
    <img src="assets/profile.png" alt="Hezron Murithi" />
    <img src="assets/slide1.jpeg" alt="Slide 1" />
    <img src="assets/slide2.jpeg" alt="Slide 2" />
    <img src="assets/slide3.jpeg" alt="Slide 3" />
    <img src="assets/slide4.jpeg" alt="Slide 4" />
  </div>
    </div>
  </div> -->
  <div class="hero-image floating-images">
  <img src="assets/profile.png" class="shape circle" alt="Profile" />
  <img src="assets/slide2.jpeg" class="shape oval" alt="Slide 1" />
  <img src="assets/slide2.jpeg" class="shape rectangle" alt="Slide 2" />
  <img src="assets/slide3.jpeg" class="shape pentagon" alt="Slide 3" />
  <img src="assets/slide4.jpeg" class="shape circle" alt="Slide 4" />
</div>

</section>


